body{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    background: #343a40;
}

.container{
    color: white;
}

form{
    width: fit-content;
}

form input{
    border: 0;
    outline: none;
    padding: 10px 20px;
    height: 70px;
    width: 400px;
    font-size: 16px;
}

form button{
    background-color: #61b752;
    border: none;
    outline: none;
    height: 70px;
    width: 100px;
    cursor: pointer;
}

span{
    color: #61b752;
    margin-top: 10px;
}